beautifulsoup4
icalendar
lxml
numpy
pandas
fastapi
uvicorn
gunicorn
python-multipart
jinja2
python-dotenv
html5lib
fastapi-sessions
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
oauthlib