<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Course Schedule</title>
  <link rel="stylesheet" href="/static/css/output.css" />
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📋</text></svg>">
</head>


<body class="flexp-2 min-h-full">
  <section class="py-24 relative">
    <div class="w-full max-w-7xl px-6 lg:px-8 mx-auto">
      <div class="flex items-center justify-center flex-col gap-5 mb-14">
        <span class='bg-green-50 text-green-500 text-xs font-medium px-3.5 py-1 rounded-full'>Testing Version</span>
        <h2 class="font-manrope font-bold text-4xl text-gray-900 text-center">Course Schedule</h2>
        <p class="text-lg font-normal text-gray-500 max-w-3xl mx-auto text-center mb-20">A script that converts the weekly HTML  schedule from <a href="https://ritaj.birzeit.edu/student/schedule" class="underline text-green-400 font-bold">Ritaj</a> to a calendar format that directly integrates with Google Calendar.
            </p>

        <div
          class="w-full max-w-3xl my-auto bg-gray-50 rounded-2xl border border-gray-300  border-dashed flex justify-center items-center flex-col py-20"
          id="dropZone">
          <div class="grid gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="mx-auto" viewBox="0 0 40 40"
              fill="none">
              <g id="Upload 02">
                <path id="icon"
                  d="M16.296 25.3935L19.9997 21.6667L23.7034 25.3935M19.9997 35V21.759M10.7404 27.3611H9.855C6.253 27.3611 3.33301 24.4411 3.33301 20.8391C3.33301 17.2371 6.253 14.3171 9.855 14.3171V14.3171C10.344 14.3171 10.736 13.9195 10.7816 13.4326C11.2243 8.70174 15.1824 5 19.9997 5C25.1134 5 29.2589 9.1714 29.2589 14.3171H30.1444C33.7463 14.3171 36.6663 17.2371 36.6663 20.8391C36.6663 24.4411 33.7463 27.3611 30.1444 27.3611H29.2589"
                  stroke="#16a34a" stroke-width="1.6" stroke-linecap="round" />
              </g>
            </svg>
            <h2 class="text-center text-sm font-medium text-gray-500 leading">HTML Files (Max 15MB)</h2>
          </div>
          <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" class="grid gap-2">
            <p class="mb-2 text-md mx-auto"><span class="font-semibold text-green-400">Click</span> or drop over here</p>
            <input id="fileInput" type="file" name="file" accept=".html" hidden />
            <div class="flex justify-center">

            </div>
            <input type="submit" class="hidden" />
          </form>
        </div>
      </div>


    </div>

  </section>



  <div id="hs-subscription-with-image"
    class="hs-overlay hidden size-full fixed inset-0 flex items-center justify-center z-[80] overflow-x-hidden overflow-y-auto"
    role="dialog" tabindex="-1" aria-labelledby="hs-subscription-with-image-label">
    <div
      class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
      <div class="relative flex flex-col bg-white shadow-lg rounded-xl">
        <div class="absolute top-2 end-2">
          <button type="button"
            class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none"
            aria-label="Close" data-hs-overlay="#hs-subscription-with-image">
            <span class="sr-only">Close</span>
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M18 6 6 18" />
              <path d="m6 6 12 12" />
            </svg>
          </button>
        </div>

        <div class="p-4 sm:p-10 text-center overflow-y-auto">
          <!-- Icon -->
          <span
            class="mb-4 inline-flex justify-center items-center size-[46px] rounded-full border-4 border-green-50 bg-green-100 text-green-500">
            <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              viewBox="0 0 16 16">
              <path
                d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z" />
            </svg>
          </span>
          <!-- End Icon -->
          <h3 id="hs-subscription-with-image-label" class="mb-2 text-2xl font-bold text-gray-800">
            Calendar Created Successfully 🎉
          </h3>

          <div class="mt-6 flex justify-center gap-x-4">
            <button id="downloadButton"
              class="flex items-center px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-green-400 rounded-lg hover:bg-green-500 focus:outline-none focus:ring focus:ring-green-300 focus:ring-opacity-80">
              <svg class="w-5 h-5 mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                  clip-rule="evenodd" />
              </svg>

              <span class="mx-1">Download</span>
            </button>
            <button id="createCalendarButton"
              class="bg-white flex items-center text-gray-700 justify-center gap-x-3 text-sm sm:text-base  rounded-lg hover:bg-gray-100 duration-300 transition-colors border px-8 py-2.5">
              <svg class="w-5 h-5 sm:h-6 sm:w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_3033_94454)">
                  <path
                    d="M23.766 12.2764C23.766 11.4607 23.6999 10.6406 23.5588 9.83807H12.24V14.4591H18.7217C18.4528 15.9494 17.5885 17.2678 16.323 18.1056V21.1039H20.19C22.4608 19.0139 23.766 15.9274 23.766 12.2764Z"
                    fill="#4285F4" />
                  <path
                    d="M12.2401 24.0008C15.4766 24.0008 18.2059 22.9382 20.1945 21.1039L16.3276 18.1055C15.2517 18.8375 13.8627 19.252 12.2445 19.252C9.11388 19.252 6.45946 17.1399 5.50705 14.3003H1.5166V17.3912C3.55371 21.4434 7.7029 24.0008 12.2401 24.0008Z"
                    fill="#34A853" />
                  <path
                    d="M5.50253 14.3003C4.99987 12.8099 4.99987 11.1961 5.50253 9.70575V6.61481H1.51649C-0.18551 10.0056 -0.18551 14.0004 1.51649 17.3912L5.50253 14.3003Z"
                    fill="#FBBC04" />
                  <path
                    d="M12.2401 4.74966C13.9509 4.7232 15.6044 5.36697 16.8434 6.54867L20.2695 3.12262C18.1001 1.0855 15.2208 -0.034466 12.2401 0.000808666C7.7029 0.000808666 3.55371 2.55822 1.5166 6.61481L5.50264 9.70575C6.45064 6.86173 9.10947 4.74966 12.2401 4.74966Z"
                    fill="#EA4335" />
                </g>
                <defs>
                  <clipPath id="clip0_3033_94454">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>

              <span>Export</span>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center hidden">
    <button type="button" id="hiddenButton"
      class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 focus:outline-none focus:bg-green-700 disabled:opacity-50 disabled:pointer-events-none"
      aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-subscription-with-image"
      data-hs-overlay="#hs-subscription-with-image">
      Open modal
    </button>
  </div>


  <script src="/static/js/index.js"></script>
  <script src="/static/js/preline.js"></script>
</body>

</html>